.header {
  margin-top: 10%;
  text-align: center;
  font-size: 150%;
}

.anchorSelector {
  color: #999999 !important;
  text-decoration: none;
}

.anchorSelector:hover {
  color: #fff !important;
}

#two {
  padding: 2%;
}

fieldset {
  display: inline-block;
  border:1px solid #f2f2f2;
  min-height: 150px;
  width: 100%;
  margin-left: 2%;
}

.UiGenerate {
  display: inline-block;
  float: left;
  margin: 0.5%;
  width: 48% !important;
}

.UiOptions {
  margin: 0.5%;
  width: 100% !important;
}

.UiVisualize{
  display: inline-block;
  float: left;
  margin: 0.5%;
  width: 48% !important;
}

.data-container {
  display: inline-block;
  float: left bottom;
  height: 125px;
  width: 100%;
  text-align: center;
  margin-bottom: 4%;
}

.code-container{
  display: inline-block;
  width: 100%;
  height: 50%;
}

.spaceTime {
  margin: 0;
  width: 100%;
}

.codeSection {
  width: 100%;
  background-color: #f2f2f2;
}

.code {
  display: block;
  font-size: 100%;
  font-family: Courier;
  color: #a6a6a6
  width: 100%;
  text-align: left;
  border: none;
  margin: 0;
}

.block {
  display: inline-block;
  float: left bottom;
  height: 100%;
  padding: 0.2%;
  transition: 0.2s all ease;
}

.colorBar {
  float: left bottom;
  width: 100%;
  background-color: #58b7ff;
}

.blockLabel {
  float: left bottom;
  width: 100%;
  color: #ffffff
}

@media screen and (min-width: 600px) {
  .blockLabel {
    color: #444444
  }
}

@media screen and (min-width: 980px) {
  .code {
    font-size: 100%;
    color: #a6a6a6
  }

  .data-container {
    height: 250px;
    width: 49%;
  }

  .code-container {
    width: 50%;
  }

  fieldset {
    width: 37%;
  }

  fieldset.first {
    margin-left: 0;
  }

  .options {
    width: 18.5%;
  }
}