* {
  font-family: sans-serif;
}

.header {
  margin-top: 10%;
  text-align: center;
  font-size: 150%;
}

.data-container {
  height: 50vh;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.block {
  display: inline-block;
  float: left bottom;
  height: 100%;
  margin: 0.2%;
  transition: 0.2s all ease;
}

.colorBar {
  float: left bottom;
  width: 100%;
  background-color: #58b7ff;
}

.block__id {
  float: left bottom;
  width: 100%;
  text-align: center;
  font-size: 70%;
}